<div class="row">
  <form class="form-group w-25 my-2 my-lg-0 d-flex flex-nowrap">
    <input
      class="form-control mr-2"
      name="search"
      type="search"
      placeholder="Search Badges"
      aria-label="Search"
    />
    <button class="btn btn-outline-light mx-2" type="submit">Search</button>
  </form>
</div>
<div id="badge-table" class="table table-dark">
  <div class="row table-head">
    <div class="col-auto">Icon</div>
    <div class="col">Name</div>
    <div class="col">Progress</div>
    <div class="col">Rating</div>
    <div class="col-3">Notes</div>
    <div class="col text-center">Tags</div>
  </div>

  {% for badge in context.badges %}
  <div class="row table-row my-3">
    <div class="col-auto">
      <div class="badge-icon" style="background:{{badge.colour}};">
        <img src={{ url_for('get_image', filename=badge.image) }}/>
      </div>
    </div>
    <div class="col">
      <a href={{ url_for('badge', id=badge.id) }} textContent="{{badge.name}}">
      <button class="btn btn-outline-light btn-lg">{{ badge.name }}</button>
      </a>
    </div>
    <div class="col">
      <div
        class="progress"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="{{badge.percentage}}"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar" style="width: {{ badge.percentage }}%"></div>
      </div>
    </div>
    <div class="col">
      <select
        class="ratingSelect form-select w-50 m-auto"
        data-column-id="rating"
        data-element-id="{{badge.id}}"
        data-element-value="{{badge.rating}}"
      >
        <option value="None">None</option>
        <option value="✖️">✖️</option>
        <option value="🟢">🟢</option>
        <option value="🟡">🟡</option>
        <option value="🟠">🟠</option>
        <option value="🔴">🔴</option>
      </select>
    </div>
    <div class="col-3">
      <textarea
        class="mb-4"
        rows="4"
        cols="30"
        data-column-id="notes"
        data-element-id="{{badge.id}}"
      >
{{badge.notes}}</textarea
      >
    </div>
    <div class="col">
    {% if badge.is_next %}
    <span class="badge rounded-pill bg-light text-dark">Next</span>
    {% endif %}
    {% if badge.is_started %}
    <span class="badge rounded-pill bg-light text-dark">Started</span>
    {% endif %}{% if badge.complete %}
    <span class="badge rounded-pill bg-light text-dark">Complete</span>
    {% endif %}
    {% if badge.is_purchased %}
    <span class="badge rounded-pill bg-light text-dark">Purchased</span>
    {% endif %}
  </div>
  </div>
  {% endfor %}
</div>
{% block scripts %}
<script src="{{url_for('static', filename='js/table.js')}}"></script>
{% endblock %}
