<div class="row">
<form class="form-group w-25 my-2 my-lg-0 d-flex flex-nowrap">
  <input class="form-control mr-2" name="search" type="search" placeholder="Search Badges" aria-label="Search">
  <button class="btn btn-outline-light mx-2" type="submit">Search</button>
</form>
</div>
<table id="badge-table" class="table table-dark">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>Progress</th>
      <th>Rating</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for badge in context.badges %}
    <tr>
      <td>
        <div class="badge-icon" style="background:{{badge.colour}};">
          <img src={{ url_for('get_image', filename=badge.image) }}/>
        </div>
      </td>
      <td><a href={{ url_for('badge', id=badge.id) }} textContent="{{badge.name}}"><button class="btn btn-outline-light">{{ badge.name }}</button></a></td>
      <td><div
        class="progress"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="{{badge.percentage}}"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar" style="width: {{ badge.percentage }}%">
        </div>
      </div></td>
      <td><select class="ratingSelect form-select" data-column-id="rating" data-element-id="{{badge.id}}" data-element-value="{{badge.rating}}">
        <option value="None">None</option>
        <option value="✖️">✖️</option>
        <option value="🟢">🟢</option>
        <option value="🟡">🟡</option>
        <option value="🟠">🟠</option>
        <option value="🔴">🔴</option>
        </select></td>
      <td><textarea rows="4" cols="50" data-column-id="notes" data-element-id="{{badge.id}}">{{badge.notes}}</textarea></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% block scripts %}
<script src="{{url_for('static', filename='js/table.js')}}"></script>
{% endblock %}
