{% extends 'base.html' %} {% block content %}

<div class="row">
  <h1
    class="heading-tab row gap-5 w-50"
    style="background: {{badge.colour}}; box-shadow: {{badge.colour|adjust_colour(1.1)}} 0px 0px 5px 10px;"
  >
    <div class="badge-icon" style="background:{{badge.colour}};">
      <img src={{ url_for('get_image', filename=badge.image) }}/>
    </div>
    {{badge.name}}
  </h1>
</div>
<div id="progress-bar-container" class="row">
  <div
    class="progress"
    role="progressbar"
    aria-label="Basic example"
    aria-valuenow="{{badge.percentage}}"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    {% if badge.percentage %}
    <div class="progress-bar" style="width: {{ badge.percentage }}%">
      {{badge.percentage|percentage_format}}
    </div>
    {% else %}
    <h2 class="px-4">0%</h2>
    {% endif %}
  </div>
</div>
<div id="badge-detail-container" class="row justify-content-evenly">
  <div class="col">
    <div id="badge-details" class="card" data-badge-id="{{badge.id}}">
      <h3 class="card-header">Details</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex flex-row">
          <div class="col-4">📘 Volume</div>
          <div class="col">{{ badge.book }}</div>
        </li>
        <li class="list-group-item d-flex flex-row">
          <div class="col-4">Section</div>
          <div class="col">
            <span class="badge" style="background: {{ badge.colour}}"
              >{{ badge.section }}</span
            >
          </div>
        </li>
        <li class="list-group-item d-flex flex-row">
          <div class="col-4"><span>Rating</span></div>
          <div class="col">
            <select
              id="rating-select"
              class="form-select w-25"
              data-column-id="rating"
              data-rating="{{badge.rating}}"
              data-badge-id="{{badge.id}}"
            >
              <option value="None">None</option>
              <option value="✖️">✖️</option>
              <option value="🟢">🟢</option>
              <option value="🟡">🟡</option>
              <option value="🟠">🟠</option>
              <option value="🔴">🔴</option>
            </select>
          </div>
        </li>
        <li class="list-group-item d-flex flex-row">
          <div class="col-4">
            <span>Complete</span>
          </div>
          <div class="col d-flex flex-row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"
              id="badge-checkbox" data-badge-id="{{badge.id}}" {{
              'checked="checked"' if badge.complete }} />
            </div>
            <input
              id="badge-date"
              class="form-control w-50"
              type="date"
              value="{{badge.date|date_format}}"
              data-badge-id="{{badge.id}}"
              data-column-id="date"
            />
          </div>
        </li>
        <li class="list-group-item d-flex flex-row">
          <div class="col-4">
            <span>🏷️ Tags</span>
          </div>
          <div class="col">
            <div
              id="badge-tag-group"
              class="btn-group"
              role="group"
              aria-label="Badge tags"
            >
              <input
                id="startedButton"
                type="checkbox"
                class="btn-check tag-button"
                data-badge-id="{{badge.id}}"
                data-column-id="is_started"
                autocomplete="off"
                {%
                if
                badge.is_started
                %}
                checked="checked"
                {%
                endif
                %}
              />
              <label class="btn btn-outline-info" for="startedButton"
                >Started</label
              >

              <input
                id="nextButton"
                type="checkbox"
                class="btn-check tag-button"
                data-badge-id="{{badge.id}}"
                data-column-id="is_next"
                autocomplete="off"
                {%
                if
                badge.is_next
                %}
                checked="checked"
                {%
                endif
                %}
              />
              <label class="btn btn-outline-info" for="nextButton">Next</label>

              <input
                id="purchasedButton"
                type="checkbox"
                class="btn-check tag-button"
                data-badge-id="{{badge.id}}"
                data-column-id="is_purchased"
                autocomplete="off"
                {%
                if
                badge.is_purchased
                %}
                checked="checked"
                {%
                endif
                %}
              />
              <label class="btn btn-outline-info" for="purchasedButton"
                >Purchased</label
              >
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex flex-row">
          <div class="col-2">
            <span>Link</span>
          </div>
          <div class="col d-flex flex-row">
            <input id="input-link" type="text" value="{{badge.link}}" />
            <a id="badge-link" href="{{badge.link}}"
              ><span id="link-text" class="fs-6">{{badge.link}}</span></a
            >
            <img
              id="save-link-btn"
              src="{{ url_for('static', filename='/icons/check.svg') }}"
              title="Save"
              data-badge-id="{{badge.id}}"
            />
          </div>
          <div class="col-1">
            <img
              id="edit-link-btn"
              src="{{ url_for('static', filename='/icons/edit.svg') }}"
              title="Edit"
            />
          </div>
        </li>
        <li class="list-group-item notes">
          <label>Notes</label>
          <textarea
            id="notes-text"
            rows="4"
            cols="50"
            data-column-id="notes"
            data-badge-id="{{badge.id}}"
          >
{{badge.notes}}</textarea
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div id="clause-container" class="card">
      <h3 class="card-header">Clauses</h3>
      <div id="clause-table">
        {% for clause in clauses %}
        <div class="row table-row py-3">
          <div class="col">
            <input class="form-check-input clause-checkbox" type="checkbox"
            id="flexCheckDefault" data-clause-id="{{clause.id}}" {{
            'checked="checked"' if clause.complete }} />
          </div>
          <div class="col">{{clause.description}}</div>
          <div class="col">
            <input
              class="clause-date form-control"
              type="date"
              value="{{clause.date|date_format}}"
              data-clause-id="{{clause.id}}"
            />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='js/badge.js')}}"></script>
{% endblock %}
