{% extends 'base.html' %} {% block content %}

<div class="row">
  <h1
    class="heading-tab row gap-5 w-50"
    style="background: {{badge.colour}}; box-shadow: {{badge.colour|adjust_colour(1.1)}} 0px 0px 5px 10px;"
  >
    <div class="badge-icon" style="background:{{badge.colour}};">
      <img src={{ url_for('get_image', filename=badge.image) }}/>
    </div>
    {{badge.name}}
  </h1>
</div>
<div id="badge-detail-container" class="row justify-content-evenly">
  <div class="col">
    <div id="badge-details" class="card" data-badge-id="{{badge.id}}">
      <h3 class="card-header">Details</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">📘 Volume {{ badge.book }}</li>
        <li class="list-group-item">🏷️ {{ badge.section }}</li>
        <li id="rating-container" class="list-group-item d-flex flex-row">
          <select
            id="rating-select"
            class="form-select w-25"
            data-column-id="rating"
            data-rating="{{badge.rating}}"
            data-badge-id="{{badge.id}}"
          >
            <option value="None">None</option>
            <option value="✖️">✖️</option>
            <option value="🟢">🟢</option>
            <option value="🟡">🟡</option>
            <option value="🟠">🟠</option>
            <option value="🔴">🔴</option>
          </select>
          <span>Rating</span>
        </li>
        <li class="list-group-item">
          <div id="badge-complete-container" class="d-flex flex-row">
            <div class="form-check">
              <label class="fs-5">Badge complete?</label>
              <input class="form-check-input" type="checkbox"
              id="badge-checkbox" data-badge-id="{{badge.id}}" {{
              'checked="checked"' if badge.complete }} />
            </div>
            <input
              id="badge-date"
              class="form-control w-25"
              type="date"
              value="{{badge.date|date_format}}"
              data-badge-id="{{badge.id}}"
              data-column-id="date"
            />
          </div>
        </li>
        <li class="list-group-item notes">
          <label>Notes</label>
          <textarea
            id="notes-text"
            rows="4"
            cols="50"
            data-column-id="notes"
            data-badge-id="{{badge.id}}"
          >
{{badge.notes}}</textarea
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div id="clause-container" class="card">
      <h3 class="card-header">Clauses</h3>
      <div id="clause-table">
        {% for clause in clauses %}
        <div class="row table-row py-3">
          <div class="col">
            <input class="form-check-input clause-checkbox" type="checkbox"
            id="flexCheckDefault" data-clause-id="{{clause.id}}" {{
            'checked="checked"' if clause.complete }} />
          </div>
          <div class="col">{{clause.description}}</div>
          <div class="col">
            <input
              class="clause-date form-control"
              type="date"
              value="{{clause.date|date_format}}"
              data-clause-id="{{clause.id}}"
            />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='js/badge.js')}}"></script>
{% endblock %}
