{% extends 'base.html' %} {% block content %}
<div class="">
  <div class="row justify-content-around">
    <div class="col-4">
      <h1
        class="heading-tab"
        style="background: {{context.colour}}; box-shadow: {{context.colour|lighter}} 0px 0px 5px 10px;"
      >
        {{ context.section }}
      </h1>
    </div>
    <div class="col-4">
      {% for badge in context.badges %} {% if badge.complete %}
      <svg height="50" width="50" xmlns="http://www.w3.org/2000/svg">
        <circle r="10" cx="20" cy="20" fill="teal" />
      </svg>
      {% else %}
      <svg height="50" width="50" xmlns="http://www.w3.org/2000/svg">
        <circle r="10" cx="20" cy="20" fill="{{context.colour}}" />
      </svg>
      {% endif %} {% endfor %}
    </div>
    <div
      class="col-1 section-percent"
      style="border: solid 5px {{context.colour}}"
    >
      {{context.percentage|percentage_format}}
    </div>
  </div>
  <table id="badge-table" class="table table-dark">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Rating</th>
        <th>Notes</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for badge in context.badges %} {% include
      "elements/badge_card/badge_card.html" %} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
