@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

:root {
  --rebel-pink: #7f0150;
  --rebel-dark-teal: #01617f;
  --rebel-light-blue: #89cfe5;
  --light-pink: #c899b5;
  --blue2: #6ba0b0;
  --blue-dark1: #476d79;
  --blue-dark2: #2c464e;
  --light-grey: #a8a8a8;
  --dark-grey: #595959;
}

body {
  font-family: "Architects Daughter", cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  color: white;
}

.heading-tab {
  color: var(--blue-dark2);
  font-size: 4rem;
  font-weight: 800;
  position: absolute;
  left: 0;
  padding: 2rem 4rem 2rem 8rem;
  border-radius: 5px;
  /* box-shadow: rgba(146, 251, 211, 0.607) 0px 0px 5px 10px; */
}

/*  PROGRESS BARS  */

.progress {
  height: 2rem;
  background: var(--blue-dark1);
}

.progress-bar {
  background: var(--rebel-light-blue);
  font-size: 1.5rem;
  color: var(--blue-dark2);
}

/* SECTION */
.section-percent {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 3rem;
  height: 9rem;
  width: 9rem;
  text-align: center;
  line-height: 9rem;
}

#badge-table {
  margin-top: 4rem;
}

/* FOOTER */
footer {
}
