{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='badge.css') }}" />
{% endblock %}

<tr>
  <td>
    <div class="badge-icon" style="background:{{badge.colour}};">
      <img src={{ url_for("get_image", filename=badge.image) }}/>
    </div>
  </td>
  <td>{{ badge.name }}</td>
  <td class="w-25">
    <div
      class="progress"
      role="progressbar"
      aria-label="Basic example"
      aria-valuenow="{{badge.percentage}}"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div class="progress-bar" style="width: {{ badge.percentage }}%">
        {{ badge.percentage | percentage_format }}
      </div>
    </div>
  </td>
  <td>{{ badge.rating }}</td>
  <td class="w-25 text-wrap fs-6">{{ badge.notes }}</td>
</tr>
