@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

:root {
  --rebel-pink: #7f0150;
  --rebel-dark-teal: #01617f;
  --rebel-light-blue: #89cfe5;
  --light-pink: #c899b5;
  --blue2: #6ba0b0;
  --blue-dark1: #476d79;
  --blue-dark2: #2c464e;
  --light-grey: #a8a8a8;
  --dark-grey: #595959;
  --bs-body-bg: #3c3c3c;
  --bs-body-color: white;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1720px;
}

body {
  font-family: "Architects Daughter", cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  color: white;
}

.heading-tab {
  color: var(--blue-dark2);
  font-size: 4rem;
  font-weight: 800;
  position: absolute;
  left: 0;
  padding: 2rem 4rem 2rem 5rem;
  border-radius: 5px;
}

/* INPUT ELEMENTS */

select {
  background: transparent;
  border: 1px solid var(--dark-grey) !important;
}

textarea {
  background: var(--bs-body-bg);
  color: white;
  font-size: 1rem;
  border-radius: 5px;
}

.notes textarea {
  border: 2px solid var(--rebel-pink);
  outline: 2px solid var(--light-pink);
  margin-top: 2rem;
  padding: 1.5rem;
}

.notes > label {
  position: absolute;
  top: 1rem;
  left: 2rem;
  background-color: var(--bs-body-bg);
  padding: 0.5rem;
}

.form-check-input:checked {
  background-color: var(--rebel-pink);
  border-color: var(--rebel-pink);
}

/*  PROGRESS BARS  */

.progress {
  background: var(--dark-grey) !important;
  padding: 0 !important;
}

.progress-bar {
  background: var(--rebel-pink);
  font-size: 1rem;
  height: 1rem;
  border-radius: 5px;
  color: white;
}

/* SECTION */
.section-percent {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 3rem;
  height: 9rem;
  width: 9rem;
  text-align: center;
  line-height: 9rem;
}

/* TABLE */
#badge-table {
  margin-top: 4rem;
  background: transparent;
}

.table-head {
  background-color: var(--dark-grey);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2.5rem;
}

.table-row {
  border-bottom: 1px solid white;
}

/* BADGES */

.badge-icon {
  display: flex;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.badge-icon > img {
  width: 40px;
}

#badge-details {
  margin-top: 8rem;
  border: 2px solid var(--light-pink);
  -webkit-box-shadow: 0px 0px 23px 12px rgba(127, 1, 81, 0.93);
  -moz-box-shadow: 0px 0px 23px 12px rgba(127, 1, 81, 0.93);
  box-shadow: 0px 0px 23px 12px rgba(127, 1, 81, 0.93);
}

.list-group {
  padding: 2rem;
}

.list-group-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#badge-complete-container {
  gap: 45px;
}

/* FOOTER */
footer {
  background: #2c464e;
}
