@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

:root {
  --rebel-pink: #7f0150;
  --rebel-dark-teal: #01617f;
  --rebel-light-blue: #89cfe5;
  --light-pink: #c899b5;
  --blue2: #6ba0b0;
  --blue-dark1: #476d79;
  --blue-dark2: #2c464e;
  --light-grey: #a8a8a8;
  --dark-grey: #595959;
  --bs-body-bg: #3c3c3c;
  --bs-body-color: white;
}

body {
  font-family: "Architects Daughter", cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  color: white;
}

.heading-tab {
  color: var(--blue-dark2);
  font-size: 4rem;
  font-weight: 800;
  position: absolute;
  left: 0;
  padding: 2rem 4rem 2rem 5rem;
  border-radius: 5px;
  /* box-shadow: rgba(146, 251, 211, 0.607) 0px 0px 5px 10px; */
}

select {
  background: transparent;
  border: 1px solid var(--light-pink);
}

textarea {
  background: var(--bs-body-bg);
  color: white;
  font-size: 1rem;
  border: 2px solid var(--light-pink);
  border-radius: 5px;
}

#notesListItem textarea {
  margin-top: 2rem;
  padding: 1.5rem;
}

#notesListItem > label {
  position: absolute;
  top: 1rem;
  left: 2rem;
  background-color: var(--bs-body-bg);
  padding: 0.5rem;
}

/*  PROGRESS BARS  */

.progress {
  height: 2rem;
  background: var(--dark-grey);
}

.progress-bar {
  background: var(--dark-grey);
  font-size: 1.5rem;
  color: var(--rebel-light-blue);
}

/* SECTION */
.section-percent {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 3rem;
  height: 9rem;
  width: 9rem;
  text-align: center;
  line-height: 9rem;
}

#badge-table {
  margin-top: 4rem;
  background: transparent;
}

/* Make gridjs table dark */
input.gridjs-input {
  background-color: var(--bs-body-bg);
}

th.gridjs-th,
.gridjs-tbody,
td.gridjs-td {
  background-color: var(--bs-body-bg);
  color: white;
}

/* BADGES */

.badge-icon {
  display: flex;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.badge-icon > img {
  width: 40px;
}

/* FOOTER */
footer {
  background: #2c464e;
}
